@using X.PagedList.Mvc.Core
@using X.PagedList
@model IPagedList<Brand>

@{
    ViewData["Title"] = "List of Brands";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    @using (Html.BeginForm("Index", "Brands", FormMethod.Get))
    {
        <p style="margin-top:10px; margin-left:20px">
            Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        </p>
    }
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink("ProfilePictureURL", "", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("FullName", "", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("Bio", "", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.ProfilePictureURL" alt="@item.FullName" style="max-width: 150px" />
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Bio)
                        </td>


                        <td class="align-middle">
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit </a> |
                            <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Details </a> |
                            <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<button class="btn-outline-primary">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
</button>
<br />

@Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<div style=" position: fixed; right:25px; bottom:35px  " class="text-white">
    <a asp-controller="Rentals" asp-action="Create" class="btn btn-success"> <i class="bi bi-plus-circle"></i> Add New  </a>
</div>
